{{- $title := .Title -}}
{{- $description := "" -}}
{{- if .Description -}}
  {{- $description = .Description -}}
{{- else if .IsHome -}}
  {{- $description = .Site.Params.description -}}
{{- else -}}
  {{- with .Params.autor -}}
    {{- $description = . -}}
  {{- end -}}
{{- end -}}
{{- $image := printf "%simages/hymns-social.jpg" .Site.BaseURL -}}
{{- $imageAlt := .Site.Title -}}
{{- if .Params.id -}}
  {{- $image = printf "%simages/hymn-%03d.jpg" .Site.BaseURL .Params.id -}}
  {{- $imageAlt = printf "Himno %d: %s" .Params.id $title -}}
{{- end -}}

<!-- Standard SEO -->
{{ with $description }}<meta name="description" content="{{ . }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">

<!-- Open Graph / WhatsApp / Facebook -->
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ $image }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="{{ $imageAlt }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="es_ES">

<!-- Twitter Card (also used by WhatsApp) -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $image }}">
<meta name="twitter:image:alt" content="{{ $imageAlt }}">

<!-- Structured data (Schema.org) -->
{{ if .Params.id }}
  {{- $schema := dict "@context" "https://schema.org" "@type" "MusicComposition" "name" $title "url" .Permalink -}}
  {{- with .Params.titulo_ingles }}{{ $schema = merge $schema (dict "alternateName" .) }}{{ end -}}
  {{- with .Params.autor }}{{ $schema = merge $schema (dict "lyricist" (dict "@type" "Person" "name" .)) }}{{ end -}}
  {{- with .Params.compositor }}{{ $schema = merge $schema (dict "composer" (dict "@type" "Person" "name" .)) }}{{ end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{ end }}
